header {
    background-color: #4dd14b;
    color: hwb(120 4% 73%);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #35c033;
    color: rgb(14, 98, 20);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
    margin-bottom: 20px;
}

img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.artigo-autor {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
}
